body{
    padding:0;
    margin:0;
}
.top-image{
    background: hsla(35, 79%, 68%, 1);

background: linear-gradient(90deg, hsla(35, 79%, 68%, 1) 0%, hsla(286, 44%, 49%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(35, 79%, 68%, 1) 0%, hsla(286, 44%, 49%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(35, 79%, 68%, 1) 0%, hsla(286, 44%, 49%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EEB86D", endColorstr="#9946B2", GradientType=1 );
height:85ch;;
}
.welcome{
    
    padding-left:55ch;
    padding-top: 40px;
    border-radius: 10px;
    height:55ch;
}

.iconsbar{
 width:auto;
 height: 10px;
 padding-top: 3ch;
 display:flex;
 justify-content: space-around;
}
/*

.container{
    margin:0;
    padding:0;
    background-color:rgb(82, 82, 82);
    height:1000ch;
    width:auto;

}
.item{
    background-color:rgb(40, 204, 32);
    height:40ch;
    width:45ch;
    width:30ch;
    border-bottom-right-radius: 20px ;
    border-top-right-radius:25px ;
}*/